{% extends "base.html" %}
{% block title %}
  Технологии
{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
      </ul>
    </aside>
  <article class="col-12 col-md-9">
    <p>Технологии, использованные при создании данного сервиса будут добавляться в описание по мере разработки.
    </p>
    <p>
    </p> 
    <p>
      <b> В теории, теория и практика неразделимы. На практике это не так. </b>
    </p>
    <p>
      <i> Yoggi Berra </i>
    </p>
  </article>
</div>
</div> 
{% endblock %} 